.container {
  width: 100%;
  padding: 1rem;

  .search-form-field {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    
    .field-label {
      margin-right: 8px;
      font-size: 14px;
    }
  }
}